/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/08/2019, 03:15:08 PM
    Author     : Susana
*/

*{
    -fx-fondo: #273377;
    -fx-fondo1: #606dbb;
    -fx-fondo2: #606dbb;
    -fx-segundario: #0e4686;
    -fx-segundario1: #1565c0;
    -fx-segundario2: #4383cc;
}

.background{
    -fx-background-color: -fx-fondo;
}

.backgroundTop{
     -fx-background-color: -fx-fondo1;
}

.botones{
     -fx-background-color: -fx-fondo2;
     -fx-text-fill: white;
}

.botonAtras{
     -fx-background-color: -fx-segundario2;
     -fx-text-fill: white;
     
}

.imagenAtras{
    -fx-image:  url('/tarea1/resources/60793.png');
}


.imagenBuscar{
    -fx-image:  url('/tarea1/resources/57477.png');
}

.imagenLimpiar{
    -fx-image:  url('/tarea1/resources/219270669e.png');
}

.imagenGuardar{
    -fx-image:  url('/tarea1/resources/check.png');
}

.imagenEliminar{
    -fx-image:  url('/tarea1/resources/84462.png');
}

.botones:hover{
     -fx-background-color: -fx-fondo2;
     -fx-text-fill: black;
}

.toggle{
    -fx-prompt-text-fill: #ffffff;
    -fx-focus-color: #ffffff;
    -fx-text-fill: #ffffff;
}


.iniciar:hover{
    -fx-background-color: -fx-segundario;
    -fx-text-fill: -fx-fondo2;
}

.jfx-text-field{
    -fx-prompt-text-fill: -fx-fondo2;
    -fx-focus-color: #ffffff;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.jfx-checkbox{
    -jfx-checked-color: -fx-fondo1;
    -jfx-unchecked-color: -fx-segundario2;
}

.jfx-combo-box{
    -fx-background-color: #ffffff;
    -fx-text-fill: #606dbb;    
}

.jfx-button-imagenAtras > ImageView{
    -fx-image:  url('../resources/60793.png');
}

.jfx-button-imagenGuardar > ImageView{
    -fx-image:  url('../resources/check.png');
}

.jfx-button-imagenBuscar > ImageView{
    -fx-image:  url('../resources/57477.png');
}

.jfx-button-imagenEliminar > ImageView{
    -fx-image:  url('../resources/84462.png');
}

.jfx-button-imagenLimpiar > ImageView{
    -fx-image:  url('../resources/219270669e.png');
}